DATABASE_HOST="127.0.01"
DATABASE_NAME="product"
DATABASE_PORT="27017"
DATABASE_PASSWORD=""

REDIS_PORT="6379"
REDIS_HOST="127.0.0.1"

JWT_SECRET_KEY="mySecretKey"
JWT_TOKEN_TTL=1800
JWT_REFRESH_SECRET_KEY="myRefreshSecretKey"
JWT_REFRESH_TOKEN="120d"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""


